{
  "openapi": "3.0.1",
  "info": {
    "title": "Estadisticas",
    "description": "API Principales Variables",
    "contact": {
      "name": "Aplicaciones Banca Central",
      "email": "aplicaciones@bcra.gob.ar"
    },
    "license": {
      "name": "Aviso legal",
      "url": "https://www.bcra.gob.ar/Varios/Aviso_legal.asp"
    },
    "version": "4"
  },
  "externalDocs": {
    "description": "Documentación oficial",
    "url": "https://www.bcra.gob.ar/documentacion-apis/?fileName=principales-variables-v4"
  },
  "servers": [
    {
      "url": "https://api.bcra.gob.ar",
      "description": ""
    }
  ],
  "paths": {
    "/estadisticas/v4.0/Metodologia/{idVariable}": {
      "get": {
        "tags": [
          "Metodologia"
        ],
        "operationId": "getEstadisticasV4MetodologiaByIdVariable",
        "parameters": [
          {
            "name": "idVariable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticas/v4.0/Metodologia": {
      "get": {
        "tags": [
          "Metodologia"
        ],
        "operationId": "getEstadisticasV4Metodologia",
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadatoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticas/v4.0/Monetarias": {
      "get": {
        "tags": [
          "Monetarias"
        ],
        "operationId": "getEstadisticasV4Monetarias",
        "parameters": [
          {
            "name": "IdVariable",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Categoria",
            "in": "query",
            "schema": {
              "maxLength": 255,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "Periodicidad",
            "in": "query",
            "schema": {
              "maxLength": 1,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "Moneda",
            "in": "query",
            "schema": {
              "maxLength": 5,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "TipoSerie",
            "in": "query",
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "UnidadExpresion",
            "in": "query",
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonetariasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticas/v4.0/Monetarias/{IdVariable}": {
      "get": {
        "tags": [
          "Monetarias"
        ],
        "operationId": "getEstadisticasV4MonetariasByIdVariable",
        "parameters": [
          {
            "name": "IdVariable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Desde",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Hasta",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosMonetariaResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatosMonetaria": {
        "type": "object",
        "properties": {
          "idVariable": {
            "type": "integer",
            "format": "int32"
          },
          "detalle": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetalleMonetaria"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DatosMonetariaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatosMonetaria"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DetalleMonetaria": {
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string",
            "format": "date",
            "example": "2025-08-21"
          },
          "valor": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "resultset": {
            "$ref": "#/components/schemas/Resultset"
          }
        },
        "additionalProperties": false
      },
      "Metadato": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "detalle": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MetadatoListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Metadato"
              }
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MetadatoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadato"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Monetarias": {
        "type": "object",
        "properties": {
          "idVariable": {
            "type": "integer",
            "format": "int32"
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "categoria": {
            "type": "string",
            "nullable": true
          },
          "tipoSerie": {
            "type": "string",
            "nullable": true
          },
          "periodicidad": {
            "type": "string",
            "nullable": true
          },
          "unidadExpresion": {
            "type": "string",
            "nullable": true
          },
          "moneda": {
            "type": "string",
            "nullable": true
          },
          "primerFechaInformada": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": "2025-08-21"
          },
          "ultFechaInformada": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": "2025-08-21"
          },
          "ultValorInformado": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MonetariasResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monetarias"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResponseError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Resultset": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  }
}
