{
  "openapi": "3.0.1",
  "info": {
    "title": "Estadísticas Cambiarias",
    "description": "La API de Estadísticas Cambiarias proporciona acceso a recursos relacionados con la información de los tipos de cambio publicados por el BCRA.\n\n---\n\n- [Documentación Oficial](https://www.bcra.gob.ar/Catalogo/apis.asp?fileName=estadisticascambiarias-v1&sectionName=Estad%EDsticas%20Cambiarias)",
    "contact": {
      "name": "API BCRA Consultas Técnicas",
      "email": "api@bcra.gob.ar"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.bcra.gob.ar"
    }
  ],
  "paths": {
    "/estadisticascambiarias/v1.0/Maestros/Divisas": {
      "get": {
        "operationId": "get-divisas",
        "summary": "Lista de Divisas",
        "description": "Devuelve una lista de todas las divisas disponibles.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DivisaResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisaResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisaResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticascambiarias/v1.0/Cotizaciones": {
      "get": {
        "operationId": "get-cotizaciones",
        "summary": "Lista de Cotizaciones",
        "description": "Devuelve una lista de todas las cotizaciones disponibles.",
        "parameters": [
          {
            "name": "fecha",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/estadisticascambiarias/v1.0/Cotizaciones/{codMoneda}": {
      "get": {
        "operationId": "get-cotizaciones-codMoneda",
        "summary": "Cotizaciones por Moneda",
        "description": "Devuelve las cotizaciones de una moneda específica.",
        "parameters": [
          {
            "name": "codMoneda",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ARS",
                "ATS",
                "AUD",
                "AWG",
                "BOB",
                "BRL",
                "CAD",
                "CHF",
                "CLP",
                "CNH",
                "CNY",
                "COP",
                "CZK",
                "DEM",
                "DKK",
                "ESP",
                "EUR",
                "GBP",
                "HKD",
                "ILS",
                "INR",
                "ITL",
                "JPY",
                "MXP",
                "NIO",
                "NIO",
                "NOK",
                "NZD",
                "PEN",
                "PYG",
                "REF",
                "RSD",
                "RUB",
                "SEK",
                "SGD",
                "TRY",
                "USD",
                "UYU",
                "VEB",
                "VND",
                "XAG",
                "XAU",
                "XDR",
                "ZAR"
              ],
              "example": "USD"
            },
            "description": "Código de moneda"
          },
          {
            "name": "fechaDesde",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "fechaHasta",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CotizacionesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CotizacionesDetalle": {
        "type": "object",
        "properties": {
          "codigoMoneda": {
            "type": "string",
            "nullable": true
          },
          "descripcion": {
            "type": "string",
            "nullable": true
          },
          "tipoPase": {
            "type": "number",
            "format": "double"
          },
          "tipoCotizacion": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "CotizacionesFecha": {
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": "2024-07-30"
          },
          "detalle": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CotizacionesDetalle"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CotizacionesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CotizacionesFecha"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CotizacionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "$ref": "#/components/schemas/CotizacionesFecha"
          }
        },
        "additionalProperties": false
      },
      "Divisa": {
        "type": "object",
        "properties": {
          "codigo": {
            "maxLength": 3,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "denominacion": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DivisaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Divisa"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "resultset": {
            "$ref": "#/components/schemas/Resultset"
          }
        },
        "additionalProperties": false
      },
      "Resultset": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  }
}
